<div class="row" ng-controller="userController">
    <div class="col-sm-12">
        <nav class="navbar navbar-default navi">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-md-10">
                        <div class="navbar-header">
                            <div class="profile-image-thumb">
                                <img class="navi-picture" src="" ng-src="{{currentUserprofilepic}}" alt=".."/>
                                <span class="navi-username">{{currentUsername}}</span>
                            </div>
                        </div>
                        <div class="pull-left">
                            <ul class="nav navbar-nav navbar-right bs-glyphicons-list">
                                <li>
                                    <p class="bs-component">
                                        <a href="" class="btn btn-success btn-sm nav-buttons">
                                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        </a>
                                    </p>
                                </li>
                                <li>
                                    <p class="bs-component">
                                        <a href="" class="btn btn-success btn-sm nav-buttons">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        </a>
                                    </p>
                                </li>
                                <li>
                                    <p class="bs-component">
                                        <a href="#/users/profile" class="btn btn-success btn-sm nav-buttons">
                                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        </a>
                                    </p>
                                </li>
                                <li>
                                    <p class="bs-component">
                                        <a href="#/users/changePassword" class="btn btn-success btn-sm nav-buttons">
                                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control navi-search" placeholder="Search">
                                    <a href="" class="btn btn-default navi-searchImg"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 pull-right" >
                        <ul class="nav navbar-nav navbar-right bs-glyphicons-list">
                            <li>
                                <p class="bs-component">
                                    <button  class="btn btn-warning logoutBtn btn-lg" ng-click="logoutUser()">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                    </button>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>