<div ng-include="'templates/non-public/navbar-view.html'"></div>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-dismissible alert-info">
            <h1 id="navbar">News Feed
                <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
            </h1>
        </div>

    </div>
</div>
<div class="row">
    <div class="jumbotron col-md-8">

    </div>
    <div class="panel panel-warning col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Friends total</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>