<div ng-include="'templates/non-public/navbar-view.html'"></div>
<div ng-init="pageHeader='Friend list'" ng-include="'templates/non-public/page-header-view.html'"></div>
<div class="row">
    <div class="col-md-2 col-md-offset-8 form-group has-success">
        <label class="control-label" for="inputSuccess">Search friend by name</label>
        <input type="text" ng-model="nameFilter" placeholder="Search..." class="form-control" id="inputSuccess">
    </div>
</div>
<div class="row">
    <div class="col-md-8 panel panel-success friendlist-box" >
       <div class="row">
           <div class="col-md-6 panel-body" ng-repeat="friend in ownFriendsCollection | filter: nameFilter">
               <img ng-src="{{friend.profileImageData}}" alt="image" class="img-thumbnail"/>
               <span ng-mouseenter="previewFriend(friend)" class="friendlist-names username">{{friend.name}}</span>
               <div ng-mouseleave="stopFriendPreview()" ng-if="isFriendHovered && hoveredPostId == friend.id" ng-include="'templates/non-public/user-preview-view.html'"></div>
           </div>
       </div>
    </div>
</div>