<div class="row" ng-controller="userController">
    <div class="col-sm-3">
        <div class="panel panel-default pending-user-container" ng-controller="userController">
            <div ng-repeat="pendingFriend in pendingFriendRequestData">
                <div class="panel-body">
                    <div class="pull-left">
                        <img actual-src="{{pendingFriend.user.profileImageData}}" ng-src="./img/testP.jpg" alt="friendImage" class="img-thumbnail img-small"/>
                    </div>
                    <div class="pull-right">
                        <span class="username"><strong ng-click="goToUserWall(pendingFriend.user.username)">{{pendingFriend.user.name}}</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <a href="" ng-click="acceptFriendRequest(pendingFriend)" class="btn btn-info btn-sm approveRequestBtns">Accept</a>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <a href="" ng-click="declineFriendRequest(pendingFriend)" class="btn btn-danger btn-sm approveRequestBtns">Decline</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>