<div ng-include="'templates/non-public/navbar-view.html'"></div>
<div ng-init="pageHeader='Change Password'" ng-include="'templates/non-public/page-header-view.html'"></div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <fieldset>
                <legend class="user-legend">Change password</legend>
                <div class="form-group">
                    <label for="inputOldPassword" class="col-lg-2 control-label">Old Password</label>
                    <div class="col-lg-6">
                        <input type="password" ng-model="user.oldPassword" class="form-control" id="inputOldPassword" placeholder="Old password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNewPassword" class="col-lg-2 control-label">New Password</label>
                    <div class="col-lg-6">
                        <input type="password" ng-model="user.newPassword" class="form-control" id="inputNewPassword" placeholder="New password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmNewPassword" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-6">
                        <input type="password" ng-model="user.confirmPassword" class="form-control" id="inputConfirmNewPassword" placeholder="Confirm password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-2">
                        <button ng-click="changePassword(user)" type="submit" class="btn btn-primary">Save changes</button>
                        <button onclick="go('/feeds')" type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>