<div class="panel panel-default container-user-preview">
    <div class="pull-left">
        <img ng-src="{{hoveredUserPreviewData.profileImageData}}" alt="img" class="img-thumbnail hoveredUser-image"/>
    </div>
    <div >
        <h4>{{hoveredUserPreviewData.name}}</h4>
    </div>
    <div >
        <span><strong>Gender:</strong>
            <span class="alert-link" ng-if="hoveredUserPreviewData.gender == 1">male</span>
            <span class="alert-link" ng-if="hoveredUserPreviewData.gender == 2">female</span>
        </span>
    </div>
    <div>
        <a href="" ng-if="hoveredUserPreviewData.isFriend" class="btn btn-success disabled">Friend</a>
        <a href="" ng-if="hoveredUserPreviewData.hasPendingRequest" class="btn btn-warning disabled">Pending</a>
        <a href="" ng-click="sendFriendRequest(hoveredUserPreviewData)" ng-if="!hoveredUserPreviewData.isFriend && !hoveredUserPreviewData.hasPendingRequest" class="btn btn-info">Invite</a>
    </div>
</div>