<div class="row">
    <div class="col-sm-10 col-lg-offset-1">
        <form class="form-horizontal" name="registerForm">
            <fieldset>
                <legend class="user-legend">Register</legend>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-5">
                        <span class="label label-danger error" ng-show="registerForm.registerUsername.$error.required">Required!</span>
                        <span class="label label-danger error" ng-show="registerForm.registerUsername.$error.minlength">Min length is 4 symbols!</span>
                        <input type="text" name="registerUsername" ng-model="userData.username" required ng-minlength="4" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-5">
                        <span class="label label-danger error" ng-show="registerForm.registerPass.$error.required">Required!</span>
                        <span class="label label-danger error" ng-show="registerForm.registerPass.$error.minlength">Min length is 6 symbols!</span>
                        <input type="password" name="registerPass" ng-model="userData.password" required ng-minlength="6" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPass" class="col-lg-2 control-label">Confirm password</label>
                    <div class="col-lg-5">
                        <span class="label label-danger error" ng-show="registerForm.registerConfPass.$error.required">Required!</span>
                        <span class="label label-danger error" ng-show="registerForm.registerConfPass.$error.minlength">Min length is 6 symbols!</span>
                        <input type="password" name="registerConfPass" ng-model="userData.confirmPassword" required ng-minlength="6" class="form-control" id="inputConfirmPass" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Full name</label>
                    <div class="col-lg-5">
                        <span class="label label-danger error" ng-show="registerForm.registerName.$error.required">Required!</span>
                        <span class="label label-danger error" ng-show="registerForm.registerName.$error.minlength">Min length is 4 symbols!</span>
                        <input type="text" name="registerName" ng-model="userData.name" required ng-minlength="4" class="form-control" id="inputName" placeholder="Full name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-5">
                        <span class="label label-danger error" ng-show="registerForm.registerEmail.$error.required">Required!</span>
                        <span class="label label-danger error" ng-show="registerForm.registerEmail.$error.minlength">Min length is 6 symbols!</span>
                        <input type="email" name="registerEmail" ng-model="userData.email" required ng-minlength="6" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender</label>
                    <div class="col-lg-5">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="userData.gender" value="1" checked="">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="userData.gender" value="2">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <button ng-click="registerUser(userData)" ng-disabled="registerForm.$invalid" type="submit" class="btn btn-primary">Register <i class="fa fa-user-plus"></i></button>
                        <button ng-click="go('/')" type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>