<div class="row">
    <div class="col-sm-12 welcomeHeader">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="welcomeText">Welcome</h1>
            </div>
            <div class="col-sm-6">
                <div class="pull-right sign-btn-container">
                   <div class="row">
                       <div class="col-md-6">
                           <a href="#/login" class="btn btn-success btn-default customBtn">Login</a>
                       </div>
                       <div class="col-md-6">
                           <a href="#/register" class="btn btn-info btn-default customBtn">Register</a>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>